<th><%= story.date%></th> 
<th><%= story.getStoryType%></th>
<th><%= story.description%></th>
<td><%= link_to 'Удалить', [story.person, story], method: :delete, data: {confirm:'Вы уверены? '}, :class => "btn btn-primary btn-link btn-small" %></td>
